/*Шрифт, с запасными*/
body
{
	font-size: 17px;
	font-family: Helvetica, Arial;
}

/*Задаем откуда по сути рисоваться начинается.*/
.otstup
{
	margin-top: 20px;
	margin-left: 50px;
}

/*Свойства  списка*/
.list li 
{
	background: #ffffff; /*Цвет фона для слов*/
	padding: 8px; /*Для списка слов. Но все равно криво картинки стоят. Хотя я их по пикселям вырезал*/
	position: relative; /*Это способ позиционирования элемента. Здесь делаем относительно исходного места. Или картинки улетят в **еня */
	list-style: none;/*Чтобы не было точек как в списке*/
	margin-bottom: 16px; /*Расстояние до следующей строчки 16 пикселей*/
}

/*Свойства всего списка. Включая самую первую строку Platform. Ровняем по сетке кароч:D*/
.Spisok 
{
	padding-top: 32px; /*Отступ списка*/
	width: 450px; /*Ширина нашей строки в списке*/
}

/*Параметры наших картинок и их положения вообще в странице*/
li img 
{
	position: absolute; /*Чтобы по строке не разбрасывало и по пикселям подгонять*/
	/*Чтобы картинка ровно стояла*/
	top: 0;
	bottom: 0;
	right: 0;
	width: 35px; /*Ширина наших квадратиков, там где картинки(кроме первой строки)*/
}

/*Это чтобы первые синие картинки больше были*/
.Spisok li.first img {width: 107px;}

/*Равняем первые наши картинки apgit*/
.Spisok li img.apgit 
{
	right: 40px; /*Тут пробовал через margin-right, хрень получается*/
	background-position: 2px -94px; /*x y позиция нашей картинки*/
}

/*Размеры нашей первой apgit картинки*/
.Spisok li.first img.apgit 
{
	width: 144px;
	right: 111px;
}
