body {
background: black;
font-weight: 700; /*вместо цифры 700 можно было написать слово bold, но в нём аж на 1 символ больше :) */
color: blue;

}
p {color: red}
div span {background: green}
ul li {list-style: none}
#cssTestLabel{color: white;}
.class1 {color: pink;}
div>p {color: green;} /* только первый уровень вложенности */
* {margin: 1; padding: 2;} /*универсальный селектор*/

button[autofocus] {background: green} /* применить ко всем тегам button, у которых есть атрибут autofocus. селектор по атрибутам короч*/

div~p{color: green;}

div + button{background: green; color: red; } /* Применить свойства к тегу p, если сразу после закрывающегося тега div открывается тег button */

/*Динамические псевдо-классы*/
p:active {background: red;} /* стиль, который применится к тегу по нажатию на него (клику мышью) */
input:focus {width: 400px;} /* стиль, который применится к элементу, на котором в данный момент фокус (работает, к примеру, для текстовых полей ввода: textarea, input). В данном случае по взятию в фокус, ширина input станет равна 400 пикселей, удобно использовать для красивого эффекта удлинения поля по клику. */
div:hover {background: green;} /* срабатывает по наведению курсора на элемент, в основном применяется для создания красивого эффекта при наведении на ссылки. */