/*common styles*/

div {
  display: inline-block;
  position: relative;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

.btncontainer {
  font-size : 0px;
}

.btncontainer button {

  font-family: arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;

  padding: 9px 7px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-radius: 0;
  background-color: #f1f1f1;
}

.btncontainer button:first-child {
  border-left: 1px solid #d9d9d9;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.btncontainer button:last-child {
  border-right: 1px solid #d9d9d9;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btncontainer button.selected {
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);;
  border: 1px solid #cccccc;
}

.btncontainer button.selected + button {
  border-left: 0;
}


.btncontainer button.active {
  background-color: #4888ef;
  color: #fffffd;
  border-color: #3079ed;
}




/*common classes*/


/*personal classes*/
#applyButton {
  margin-left:16px;
}
